# GraphQL API Configuration
NEXT_PUBLIC_GRAPHQL_HTTP_URL=https://api.zoion.biz/v1/graphql
NEXT_PUBLIC_GRAPHQL_WS_URL=wss://api.zoion.biz/v1/graphql

# AWS Cognito Configuration
NEXT_PUBLIC_AWS_REGION=eu-north-1
NEXT_PUBLIC_AWS_USER_POOL_ID=eu-north-1_vtIdsIeqp
NEXT_PUBLIC_AWS_USER_POOL_WEB_CLIENT_ID=5rhmu7nc4gp9q8rnmsg6hr6eav

# Lambda Function URL
NEXT_PUBLIC_API_LAMBDA_URL=https://uqd4z4r6ir4mh3amw24vr7behe0venap.lambda-url.eu-north-1.on.aws/

# Environment
NEXT_PUBLIC_ENVIRONMENT=production


